<div class="content-input add" verify-scope="tipStyle: 1">
    <div class="input-list">
        <section>
            <ul>
                <li class="required">
                    <label><i><img src="/images/mandatory.png"></i><em>所属类别</em></label>
                    <select class="sele" ng-model="belongCategory" ng-verify="option:0">
                        <option disabled value="">请选择</option>
                        <option value="ASSETS">资产类</option>
                        <option value="LIABILITIES">负债类</option>
                        <option value="COMMON">共同类</option>
                        <option value="RIGHTSINTERESTS">权益类</option>
                        <option value="COST">成本类</option>
                        <option value="PROFITLOSS">损益类</option>
                    </select>
                </li>
            </ul>
        </section>
    </div>
    <p class="dataBottom">
        <span class="imPrompt"><i><img src="/images/prompt.png"></i>带有<i><img src="/images/mandatory.png"></i>的为必填项</span>
        <button ng-verify="{control:'myform'}" ng-click="workersAddFun()">导出</button>
    </p>
</div>